<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naziv istraživanja</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <a href="https://pisa.ncvvo.hr/" target="_blank">PISA istraživanje - rezultati za 2018</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> <a href="https://issuu.com/modernavremena/docs/prezentacija_no__knjige_23.04.2018. " target="_blank">Istraživanje tržišta knjiga u RH - GfK 2018</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> <a href="https://issuu.com/modernavremena/docs/gfk_-_istra__ivanje_tr__i__ta_knjig_96c901ba146dcc" target="_blank">Istraživanje tržišta knjiga u RH - GfK 2017</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td> <a href="http://www.hkdrustvo.hr/datoteke/1374" target="_blank">PDF: Primjena istraživanja u promicanju pismenosti i čitanja u knjižnicama: smjernice za knjižničare (IFLA, Zagreb, 2012.)</a></td>
    </tr>
  </tbody>
</table>