<section ng-controller="HomeController">


<div ng-controller="HomeController" id="slides_control">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>
</div>
</div>


</section>



  <div>
     <h2>Čitanje - poticanje i istraživanje</h2> 
    <p>Web stranica ČITANJE – POTICANJE I ISTRAŽIVANJE bavi se prikupljanjem projekata, programa i istraživanja u vezi s poticanjem čitanja i pismenosti prvenstveno u Republici Hrvatskoj, ali s namjerom širenja i izvan Hrvatske. Svrha je prikupljanja povećati preglednost svih takvih projekata, programa i istraživanja, učiniti podatke o njima dostupnima za daljnja istraživanja, klasificirati ih te ih uvrstiti u zajednički kalendar događanja.<br/>
    Facebook i web stranicu pokrenula je  Komisija za čitanje Hrvatskog knjižničarskog društva.<br/>
    Svoje projekte, programe i istraživanja o poticanju čitanja i pismenosti, kao i komentare i prijedloge za poboljšanje stranice možete slati na e-mail adresu komisijazacitanje.hkd@gmail. com.
    <br/><br/>
    Uredništvo zadržava pravo odabira projekata, programa ili istraživanja, a sve u skladu s dogovorenim i prihvaćenim kriterijima Komisije za čitanje pri HKD-u</p>
   
  </div>


  <div class="row well" style="margin:0px;" >
    <div class="col-md-6 col-xs-12">
      <a href="https://www.facebook.com/citanjeHKD/" target="_blank">
      Pronađite nas na Facebooku
        <img style="height:52px;width: auto;padding:5px" src="modules/core/client/img/naslovnica/facebook-logo.png">
      </a>
   
    </div>

    <div class="col-md-6 col-xs-12">
     
   
   <a href="mailto:komisijazacitanje.hkd@gmailcom" target="_blank">
      Kontaktirajte nas na mail
      <img style="height:52px;width: auto;padding:5px" 
       src="modules/core/client/img/naslovnica/gmail-logo.png"></a>
    </div>
    
   
  </div>


