

  <div class="row well" style="margin:0px;margin-top:10px" >

  	<div class="col-xs-12">
  		<p>  Svoje projekte, programe i istraživanja o poticanju čitanja i pismenosti, kao i komentare i prijedloge za poboljšanje stranice možete slati na e-mail adresu komisijazacitanje.hkd@gmail.com.</p>
  	</div>
    <div class="col-md-6 col-xs-12">
      <a href="https://www.facebook.com/citanjeHKD/" target="_blank">
      Pronađite nas na Facebooku
        <img style="height:52px;width: auto;padding:5px" src="modules/core/client/img/naslovnica/facebook-logo.png">
      </a>
   
    </div>

    <div class="col-md-6 col-xs-12">
     
   
   <a href="mailto:komisijazacitanje.hkd@gmailcom" target="_blank">
      Kontaktirajte nas na mail
      <img style="height:52px;width: auto;padding:5px" 
       src="modules/core/client/img/naslovnica/gmail-logo.png"></a>
    </div>
    
   
  </div>
